* {
  padding: 0;
  margin: 0;
}
body {
  perspective: 800px;
  background-color: darkgray;
}
ul {
  list-style: none;
  position: relative;
  margin: 150px auto;
  width: 200px;
  transform-style: preserve-3d;
  transform: rotateY(30deg) rotateX(-20deg);
  animation: boxRotate 5s linear infinite;
}
@keyframes boxRotate {
  0% {
    transform: perspective(800px) rotateY(30deg) rotateX(-20deg) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(30deg) rotateX(-20deg) rotateY(360deg);
  }
}
ul li {
  width: 200px;
  height: 150px;
  position: absolute;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
  border: 1px solid black;
  background-size: 150px 150px;
}
ul :first-child {
  transform: translateY(0) translateZ(200px);
  background-image: url(./1.jpg);
}
ul :nth-child(2) {
  transform: rotateY(60deg) translateZ(200px);
  background-image: url(./2.jpg);
}
ul :nth-child(3) {
  transform: rotateY(120deg) translateZ(200px);
  background-image: url(./3.jpg);
}
ul :nth-child(4) {
  transform: rotateY(180deg) translateZ(200px);
  background-image: url(./4.jpg);
}
ul :nth-child(5) {
  transform: rotateY(240deg) translateZ(200px);
  background-image: url(./5.jpg);
}
ul :nth-child(6) {
  transform: rotateY(300deg) translateZ(200px);
  background-image: url(./6.jpg);
}
